{% extends 'system/layouts/main.html' %}

{% block title %}

Agent

{% endblock title %}

{% block content %}
<style>
    body{
      background-image: url('static/images/bg.png');
      background-size: 78%;
    }

  .card {
                  width: 400px;
                  height: 370px;
                  border: 1px solid #ccc;
                  border-radius: 10px;
                  background-color: #ddc2c2;
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  padding: 20px;
                  text-align: center;
                  margin: 20px;
                  opacity: 90%;
                }
                .button {
                  display: inline-block;
                  padding: 10px 20px;
                  font-size: 16px;
                  font-weight: bold;
                  text-align: center;
                  text-decoration: none;
                  border: 2px solid #4CAF50;
                  color: #ffffff;
                  background-color: #4CAF50;
                  border-radius: 5px;
                  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
                }
                
                /* Hover Effect */
                .button:hover {
                  background-color: #45a049;
                  border-color: #45a049;
                }
                
                /* Active Effect */
                .button:active {
                  background-color: #3e8e41;
                  border-color: #3e8e41;
                }
                                        </style>
                                        </head>
                                        <body>
                                        
                                        <div class="card" style="margin-left: 10%;">
                                        <h2>Star inn</h2>
                                        <p>Near Trichy Junction Trichirappalli</p>
                                        <img style="width: 70%;margin-left: 13%;" class="" src="static\images\trichy hotel.jpg">
                                        <div>
                                          <a href="https://www.google.com/maps/place/TRICHY+CENTRAL+BUS+STAND/@10.8115394,78.6464098,13z/data=!4m6!3m5!1s0x3baaf5d6481a8a73:0x1ef651a3aa62658a!8m2!3d10.8115394!4d78.6876085!16s%2Fg%2F11j0jfjgk5?hl=en&entry=ttu" style="margin-top: 8%;margin-left: -0%; " class="button">Bus stand</a>
                                        
                                        </div>
                                        <div>
                                          <a href="https://www.google.com/maps/dir//Star+Inn,+D73,+7TH+CROSS,+Shastri+Rd,+Thillai+Nagar,+Tiruchirappalli,+Tamil+Nadu+620018/@10.822646,78.651723,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x3baaf56c1f3c7169:0x55995fe27fe45c89!2m2!1d78.6867429!2d10.8225637!3e0?hl=en&entry=ttu" style="margin-top: -12%;margin-left: -45%;position: absolute; " class="button">Location</a>
                                        
                                        </div>
                                        <div>
                                          <a href="https://stargroupofhotel.com/" style="margin-top: -12%;margin-left: 20%;position: absolute; " class="button">Website</a>
                                        
                                        </div>
                                        
                                      </div>
                                        <div class="card" style="margin-left: 55%;margin-top: -29%;">
                                            <h2>
                                              KVR Guest House</h2>
                                            <p>Near Villupuram Junction Villupuram</p>
                                            <img style="width: 70%;margin-left: 13%;" class="" src="static\images\villupuram hotel.jpg">
                                            <div>
                                              <a href="https://www.google.com/maps?hl=en-GB&gl=IN&um=1&ie=UTF-8&fb=1&sa=X&geocode=KaHspCeUVlM6MY9KASlOzhkD&daddr=KVR+Guest+House,+No:+10,+West+Shanmugapuram+Colony,+opp.+to+West+Police+Station,+Viluppuram,+Tamil+Nadu+605602" style="margin-top: 8%;margin-left: -50%; " class="button">Location</a>
                                            
                                            </div>
                                            <div>
                                              <a href="https://maps.app.goo.gl/2Eq5U2DKAXsjxC3K9" style="margin-top: -12%;margin-left: 20%;position: absolute; " class="button">Bus stand</a>
                                            
                                            </div>
                                           
                                            
                                          </div>
                
                                          <div class="card" style="margin-top: 10%;margin-left: 10%;">
                                            <h2>
                                              French Park Inn</h2>
                                            <p>Near Tindivanam Junction Tindivanam</p>
                                            <img style="width: 70%;margin-left: 13%;height: 55%;" class="" src="static\images\tindivanam hotel.jpg">
                                            <div>
                                              <a href="https://www.google.com/maps?hl=en-GB&gl=IN&um=1&ie=UTF-8&fb=1&sa=X&geocode=KaW8XDGzQFM6MRp-xIcj7CNf&daddr=French+Park+Inn,+5,+ECR,+Kottakuppam,+Tindivanam,+Tamil+Nadu+605104" style="margin-top: 4%;margin-left: -50%; " class="button">Location</a>
                                            
                                            </div>
                                            <div>
                                              <a href="https://maps.app.goo.gl/PHVWXFAhCj45XdE76" style="margin-top: -12%;margin-left: 20%;position: absolute; " class="button">Bus stand</a>
                                            
                                            </div>
                                            
                                             </div>
                
                                          <div class="card" style="margin-left: 55%;margin-top: -29%;">
                                            <h2>Akshay Grand</h2>
                                            <p>Near Chengallpattu Junction Chengallpattu</p>
                                            <img style="width: 70%;margin-left: 13%;height: 90%;" class="" src="static\images\chengalpattu hotel.jpg">
                                            <div>
                                              <a href="https://www.google.com/maps?hl=en-GB&gl=IN&um=1&ie=UTF-8&fb=1&sa=X&geocode=KQNSP3xL_VI6MWGVJ-oinswl&daddr=Hotel+Akshay+Grand,+115+A,+Grand+Southern+Trunk+Rd,+Thimmarajakulam,+Chengalpattu,+Tamil+Nadu+603001" style="margin-top: 4%;margin-left: -50%; " class="button">Location</a>
                                            
                                            </div>
                                            <div>
                                              <a href="https://maps.app.goo.gl/4WdPRtVj9CnBAWPj9" style="margin-top: -12%;margin-left: 20%;position: absolute; " class="button">Bus stand</a>
                                            
                                            </div>
                                            
                                            
                                          </div>
                
                                          <div class="card" style="margin-top: 10%;margin-left: 10%;">
                                            <h2>Sun Shine,Tambaram</h2>
                                            <p>Near Tambaram Junction Tambaram</p>
                                            <img style="width: 70%;margin-left: 13%;height: 90%;" class="" src="static\images\tambaram hotel.jpg">
                                            <div>
                                              <a href="https://www.google.com/maps/dir//Sun+Shine,Tambaram,+No.+123,+PDA+Tower,+Mudichur+Service+Rd,+near+IOB+Bank,+near+Railway+Station,+Tambaram,+Chennai,+Tamil+Nadu+600045/@12.9247045,80.0312985,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a525f6e8d48c4f1:0xd13068d64ccad1a0!2m2!1d80.113715!2d12.9247392?hl=en-GB&entry=ttu" style="margin-top: 8%;margin-left: -50%; " class="button">Location</a>
                                            
                                            </div>
                                            <div>
                                              <a href="https://maps.app.goo.gl/MPJ7vWYy7xmM6tQq9" style="margin-top: -12%;margin-left: 20%;position: absolute; " class="button">Bus stand</a>
                                            
                                            </div>
                                           
                                            </div>
                
                                          <div class="card" style="margin-left: 55%;margin-top: -29%;">
                                            <h2>Akmg towers</h2>
                                            <p>Near Chennai Junction Chennai</p>
                                            <img style="width: 70%;margin-left: 13%;height: 90%;" class="" src="static\images\chennai hotel.jpg">
                                            <div>
                                              <a href="https://www.google.com/maps?gs_lcrp=EgZjaHJvbWUqCggAEAAY4wIYgAQyCggAEAAY4wIYgAQyEwgBEC4YrwEYxwEYgAQYmAUYmgUyBwgCEAAYgAQyBggDEEUYOzIHCAQQABiABDIHCAUQABiABDINCAYQABiGAxiABBiKBTIGCAcQRRg9qAIAsAIA&um=1&ie=UTF-8&fb=1&gl=in&sa=X&geocode=Ke-WE0N4b1I6McGGppVszAg2&daddr=7,+11,+Stringer+St,+Edapalaiyam,+Park+Town,+Chennai,+Tamil+Nadu+600003" style="margin-top: 8%;margin-left: -50%; " class="button">Location</a>
                                            
                                            </div>
                                            <div>
                                              <a href="https://maps.app.goo.gl/qySF3a5ni1zsvGn98" style="margin-top: -12%;margin-left: 20%;position: absolute; " class="button">Bus stand</a>
                                            
                                            </div>
                                           
                                            </div>
                                        
                                </div>
                



{% endblock content %}
